.select2{width:100%!important}.match-data{padding:10px;margin:5px;color:#fff;background:#1a2948;display:flex;flex-direction:column;justify-content:space-between}.liga-name{margin:auto}.playing-now{display:flex;justify-content:space-between;align-items:center;align-content:center;flex-wrap:wrap}.w-5{flex:0 0 41.666667%;max-width:41.666667%}.w-2,.w-5{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px;text-align:center}.w-2{flex:0 0 16.666667%;max-width:16.666667%}.action{display:flex;justify-content:center;align-items:center;align-content:flex-end}
